<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sign Up here</title>
</head>
<body>
<h1 th:text="#{label.form.title}">form</h1>
<form action="/" th:object="${user}" method="post" enctype="utf8">
    <div>
        <label th:text="#{label.user.firstName}">First Name</label>
        <input th:field="*{firstName}"/>
        <p th:each="error: ${#fields.errors('firstName)}" th:text = "${error}"> Validation error</p>
    </div>

    <div>
        <label th:text="#{label.user.lastName}">Last Name</label>
        <input th:field="*{lastName}"/>
        <p th:each="error: ${#fields.errors('lastName)}" th:text = "${error}"> Validation error</p>
    </div>

    <div>
        <label th:text="#{label.user.email}">Email</label>
        <input th:field="*{email}"/>
        <p th:each="error: ${#fields.errors('email)}" th:text = "${error}"> Validation error</p>
    </div>

    <div>
        <label th:text="#{label.user.password}">Password</label>
        <input th:field="*{password}"/>
        <p th:each="error: ${#fields.errors('password)}" th:text = "${error}"> Validation error</p>
    </div>

    <div>
        <label th:text="#{label.user.confirmPassword}"> Confirm Password</label>
        <input type="password" th:field="*{confirmingPassword}"/>
    </div>

    <button type="submit" th:text="#{label.form.submit}">submit</button>
</form>
<a href="@{/login.html}" th:text="#{label.form.loginLink}">Login</a>
</body>
</html>